/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*modal*/
.modal-header, h4, .close {
    background-color: #5C3D2E;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

#modalContentBody {
    color: black;
    display: inline;
    vertical-align:text-bottom;
    border: 1px solid black;    
}
#btnPutModalId {
    background-color: forestgreen;
    color: black;
    justify-content: flex-end;
}

#btnDelete {
    background-color: #f21010;
    color: black;
    display: inline;
    vertical-align: text-bottom;
    border: 1px solid black;
}

.red-border {
    border: 1px solid red;
}

.grey-border {
    border: 1px solid grey;

}

.btn-green {
    color: #fff;
    background-color: #3ee017;
    border-color: #1861ac;
}

.btn-Delete {
    color: black;
    background-color: #ff9393;
    border-color: #190202;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
}
.btn-Edit {
    color: black;
    background-color: #b0c813;
    border-color: #092217;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
}
.btn-Details {
    color: black;
    background-color: #e08312;
    border-color: #190202;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
}

.tdDescription {
    text-align: center;
/*    font-weight: bold;*/
}
.bottonWhite {
    color: white;
    font-weight: normal;
}

/*.fontSize {
    font-size: 20px;
}*/
/*.alinhamento {
    color: black;
    padding: 5px 10px;
    margin-top: 5px;
    text-align: justify;
}*/
/*#productBodyTableId {
    text-align: center;
}
.borderBlack {
    border-color: black;
    border-radius: 5px;
}

table tr {
 
}*/